* {
    box-sizing: border-box;
}
:root {
    --white-color: #fff;
    --primary-color: #ffb900;
    --second-color: #5f5b53;
    --black-color: #171100;
    --info-color: #fffcf4;
    --font-heading: Sen, sans-serif;
}
html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
}

/* COMMON */
a {
    text-decoration: none;
}

h1,
h2,
h3,
p {
    color: var(--black-color);
}
.main-content {
    width: 1170px;
    margin: 0 auto;
    max-width: calc(100% - 48px);
}

.fz-14 {
    font-size: 1.4rem;
    line-height: 1.67;
}
.fz-16 {
    font-size: 1.6rem;
    line-height: 1.67;
}

.fz-18 {
    font-size: 1.8rem;
    line-height: 1.67;
}

.fz-24 {
    font-size: 2.4rem;
    line-height: 1.67;
}

.fz-26 {
    font-size: 2.6rem;
    line-height: 1.67;
}
.fz-38 {
    font-size: 3.8rem;
    line-height: 1.67;
}

.fz-44 {
    font-size: 4.4rem;
    line-height: 1.67;
}

.fz-58 {
    font-size: 5.8rem;
    line-height: 1.3;
    letter-spacing: -0.02em;
}

.fw-400 {
    font-weight: 400;
}
.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fs-italic {
    font-style: italic;
}

.bg-white {
    background-color: var(--white-color);
}

.bg-primary {
    background-color: var(--primary-color);
}

.bg-black {
    background-color: var(--black-color);
}

.bg-second {
    background-color: var(--second-color);
}

.bg-info {
    background-color: var(--info-color);
}

.bg-transparent {
    background-color: transparent;
}

.border-0 {
    border: none;
}

.text-white {
    color: var(--white-color);
}

.text-primary {
    color: var(--primary-color);
}

.text-black {
    color: var(--black-color);
}

.text-second {
    color: var(--second-color);
}

.radius-12 {
    border-radius: 12px;
}

.radius-12-top {
    border-radius: 12px 12px 0 0;
}

.radius-20 {
    border-radius: 20px;
}

.radius-50 {
    border-radius: 50%;
}
.radius-999 {
    border-radius: 999px;
}

.text-center {
    text-align: center;
}

.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

.dfcenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.align-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

.object-fit-cover {
    object-fit: cover;
}

.vertical-bottom {
    vertical-align: bottom;
}
.btn {
    display: inline-block;
    font-size: 1.6rem;
    line-height: 50px;
    min-width: 118px;
    text-align: center;
    color: var(--white-color);
    border-radius: 25px;
    font-weight: 600;
}
/* HEADER */
header.header {
    background-color: #fffcf4;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 32px 0 8px;
}

header.fixed {
    position: sticky;
    top: -24px;
    z-index: 1;
}

nav.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    position: relative;
    display: block;
    line-height: 1.75;
    padding: 8px 21px;
}

.nav a.active,
.nav a:hover {
    font-size: 1.6rem;
    text-shadow: 0.3px 0 0 #000;
    color: var(--black-color);
}

.nav a.active::after {
    content: "";
    display: inline-block;
    width: 12px;
    height: 2px;
    left: 21px;
    bottom: 6px;
    border-radius: 1px 0px 0px 0px;
    position: absolute;
    background-color: var(--black-color);
}

.action {
    margin-left: 70px;
}

.btn-sign-up {
    min-width: 144px;
}

/* HERO */

/* HERO-LEFT */
.hero {
    padding: 64px 0 65px;
}

.hero .body {
    /* display: flex; */
}

.hero .hero-img {
    width: 49%;
    position: relative;
}

.hero-img .img {
    width: 470px;
    height: 685px;
}

.hero-img .info {
    position: absolute;
    bottom: 48px;
    right: -40px;
    padding: 24px;
    width: 270px;
    box-shadow: 0px 16px 32px 0px #0000000d;
}
.hero-img .info .item {
    /* display: flex;
    align-items: center; */
}

.hero-img .info .item + .item {
    margin-top: 18px;
}

.hero-img .info .item .icon {
    width: 48px;
    height: 48px;
    background-color: var(--info-color);
    margin-right: 16px;
}

.hero-img .info .item:nth-of-type(2) .icon {
    background-color: #fcefff;
}

.hero-img .info .item:nth-of-type(3) .icon {
    background-color: #ebeaff;
}

/* HERO-RIGHT */
.hero .hero-content {
    margin-left: 130px;
    width: 51%;
}

.hero-content .heading {
    font-family: var(--font-heading);
    margin: 64px 0 22px;
}

.hero-content .desc {
    margin-bottom: 38px;
}

.hero-cta {
    /* display: flex; */
}

.hero-cta .btn-cta {
    min-width: 180px;
    height: 64px;
    line-height: 64px;
}

.hero-cta .watch-video {
    border: none;
    margin-left: 28px;
}

.watch-video {
    /* display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.68;
    color: var(--p-bold-color); */
}

.watch-video .icon {
    width: 40px;
    height: 40px;
    box-shadow: 0px 8px 16px 0px #00000012;
    margin-right: 14px;
}

.hero-content .desc.title {
    margin: 48px 0 0;
}

.hero-content .desc.stats {
    margin: 8px 0 0;
}

.hero-content .desc.stats strong {
    font-family: var(--font-heading);
    padding-right: 8px;
}

.hero-content .desc.stats span + span {
    margin-left: 28px;
}

/* Popular top */
.popular {
    padding: 65 0;
    margin-top: 135px;
}
.popular-top .desc {
    width: 458px;
    margin-top: 18px;
}

.control {
    gap: 18px;
}
.control .item {
    width: 40px;
    height: 40px;
    border: 1px solid var(--primary-color);
}

.control .item:hover {
    cursor: pointer;
    color: var(--white-color);
    background-color: var(--primary-color);
}

.popular .courses {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}

.courses .course-item .course-title {
    background-color: var(--white-color);
    border: 1px solid #e2dfda;
    border-top: none;
    border-radius: 0 0 12px 12px;
    padding: 16px 22px 22px;
}

.courses .course-item {
    flex: 1;
}

.course-item .img img {
    width: 100%;
    height: 278px;
}

.course-head .rate {
    color: #fea31b;
}

.courses .course-item .course-title:hover,
.courses .course-item:hover .course-title {
    box-shadow: 0px 18px 36px 0px #0000000d;
    border: 1px solid #fff;
    border-top: none;
}

.course-title .desc {
    margin-top: 8px;
}

.course-title .book {
    margin-top: 22px;
}

.course-title .btn-book:hover {
    cursor: pointer;
    background-color: var(--primary-color);
}
